@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;500;900&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Saira:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary:#141424;
    --colorText:#f4bd24;
    --secondary:#231f20;
    --far_bars:white;
    --icon:#f4bd24;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* global features to any website */
ul li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

a{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    text-decoration: none;  
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img:hover{
    transition: .3s all ease-in-out;
}


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(white,var(--secondary));
    border-radius: 8px;
}

h1{
    font-weight: 800;
    font-size: 30px;
}

h2{
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}

h5{
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
}

h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #707070;
}

.btn{
    border: none;
    background-color: var(--colorText);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    white-space: nowrap;
}

.btn:hover{
    border: none;
    background-color: black !important;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .5s all ease-out;
}


i{
    color: var(--icon);
}

.social-icon i{
    color: var(--colorText) !important;
    padding: 7px;
    font-size: 14px;
}

.social-icon i:hover{
    border-radius: 50%;
    color:white !important;
    transition: .3s all ease;
}

input[type=text], input[type=email],input[type=number],input[type=password],input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #707070; 
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden; */
}

/* input:focus{
border-color: var(--colorText) !important;
box-shadow: none !important;
} */

input[type=submit] {
    background-color: var(--colorText);
    color: white;
    padding: 12px 20px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: black;
    transition: .3s all ease-in-out;
}  
/* end global features */

/* start top head */
@media (max-width:768px) {
    .top-head{
        display: none;
    }
}
.top-head{
background-color: var(--primary);
}

.search-box{
    width: 100%;
    height: 50px;
    top: 4px;
    position: relative;
    display: flex;
}
.search-input{
    width: 100% !important;
    padding: 8px !important;
    /* border-radius:10px 0 0 10px !important; */
    border-radius: 0 !important;
    border-right: none !important;
    outline: none !important;
    font-size: 13px !important;
    background-color: white !important;
    margin-right: 50px !important;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    border: none !important;
}
.search-button{
    text-align: center;
    height: 45px;
    width: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    /* border-radius: 0 10px 10px 0 ; */
    border-right: none;
    background-color: var(--colorText);
    margin-top: 5px;
}

.icon-top{
    position: relative !important;
    border: none;
    background:none;
    width:40px;
    height:40px;
    line-height: 35px;
    font-size: 18px;
    white-space: nowrap;
    margin-top: 8px !important;
}

.properties{
    display: flex !important;
    justify-content: space-between !important;
    text-align: center !important;
    margin-top: 20px;
}

.social-links .badge-cart{
    position: absolute;
    bottom: 60%;
    right: 60%;
    width: 19px;
    height: 19px;
    line-height:3px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--colorText);
    color: black !important;
    border: 1px solid white;
    font-size: 13px;
}

.social-links .badge-heart{
    position: absolute;
    bottom:60%;
    right: 50%;
    width: 19px;
    height: 19px;
    line-height:3px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--colorText);
    color: black !important;
    border: 1px solid white;
    font-size: 13px;
}

.box-profile {
    position: relative;
    margin-top: 14px;
    margin-right: 6px;
    cursor: pointer;
}

.box-profile .image-profile{
    border-radius: 50%;
}

.box-profile:hover .popup {
    opacity: 1;
    display: block;
}

.box-profile .popup {
    min-width: 250px !important;
    text-align: start;
    font-size: 14px;
    background-color: #231f20;
    color: #aaa6a7;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all 0.25s ease;
    opacity: 0;
    display: none;
    z-index: 4000;
    text-transform: capitalize;
}

.box-profile .image-for-box-profile{
    border-radius: 50%;
    
}
/* end top head */


/* start header canavs */

@media (min-width:768px) {
    .fa-bars{
        display: none;
    }
    .for-mobile{
        display: none !important;
    }
    .social-icon{
        display: none !important;
    }
    .icon-mobile{
        display: none;
    }
}

.fa-bars{
    color: var(--far_bars);
}
.navbar{
    background-color: #b2841d !important;
}

@media (min-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: white;
        white-space: nowrap;
    }
}

@media (max-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: var(--colorText) !important;
        border-bottom: 1px solid gray;
        padding: 15px;
    }
    .offcanvas{
        background-color: var(--primary);
    }
}

.offcanvas {
    width: 80% !important;
}

.nav-item .nav-link{
    color: black !important;
    line-height: 30px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-item .nav-link:hover{
    color: white !important;
    line-height: 30px;
    font-weight: 500;
    font-size: 15px;
    transition: .3s all ease-in-out;
}

/* for top head mobile */
.search-mobile{
    position: relative;
    padding: 0px !important;
}

.search-mobile-input{
    width: 60vw;
    font-size: 13px;
    outline: none;
    border: none;
    padding: 10px;
}

.search-position{
    position: absolute;
    top: 25%;
    left: 3%;
}

.space-for-logo-mobile{
margin-right: -11px;
}

.offcanvas-title .btn-close{
/* float: left !important; */
font-size: 13px;
display: flex;
}

.block-menu-open{
background-color: var(--colorText);
border-radius: 10px;
padding: 10px;
cursor: pointer;
}

.block-menu-open p{
color: var(--primary);
font-weight: 700;
letter-spacing: 1px;
font-size: 17px;
word-break: break-all;
}

.block-menu-open img{
    border-radius: 50%;
}
/* end header canvas */

/* start footer */
.footer-image {
    height: 60vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/footer/Group\ 4282@2x.png");
}

.footer-image .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 30px;
}

.footer ul li:first-child{
    color: var(--colorText);
}

.footer ul li:hover{
    color: var(--colorText);
}

@media (max-width:768px) {
    .footer-image .overlay{
        text-align: center;
    }
    .footer-image{
        height: 1000px !important;
    }
}
/* end footer */

/* start bottom footer */
.bottom-footer{
    background-color: var(--colorText);
    position: relative;
}
/* end bottom footer */