@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;500;900&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Saira:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary:#141424;
    --colorText:#f4bd24;
    --secondary:#231f20;
    --far_bars:white;
    --icon:#f4bd24;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}


/* global features to any website */
ul li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

a{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    text-decoration: none;  
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img:hover{
    transition: .3s all ease-in-out;
}


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(white,var(--secondary));
    border-radius: 8px;
}

h1{
    font-weight: 800;
    font-size: 30px;
}

h2{
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}

h5{
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
}

h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #707070;
}

.btn{
    border: none;
    background-color: var(--colorText);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    white-space: nowrap;
}

.btn:hover{
    border: none;
    background-color: black !important;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .5s all ease-out;
}


i{
    color: var(--icon);
}

.social-icon i{
    color: var(--colorText) !important;
    padding: 7px;
    font-size: 14px;
}

.social-icon i:hover{
    border-radius: 50%;
    color:white !important;
    transition: .3s all ease;
}

input[type=text], input[type=email],input[type=number],input[type=password],input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #707070; 
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden; */
}

/* input:focus{
border-color: var(--colorText) !important;
box-shadow: none !important;
} */

input[type=submit] {
    background-color: var(--colorText);
    color: white;
    padding: 12px 20px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: black;
    transition: .3s all ease-in-out;
} 

.swiper-button-next{
    background-color: var(--colorText) !important;
    font-size: 10px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.swiper-button-next:hover{
    background-color:black !important;
}

.swiper-button-next:after{
    font-size: 15px !important;
    color: white !important;
}

.swiper-button-prev{
    background-color: var(--colorText) !important;
    font-size: 10px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.swiper-button-prev:hover{
    background-color: black !important;
}

.swiper-button-prev:after{
    font-size: 15px !important;
    color: white !important;
}

.wrapper{
    width: 90%;
    margin: auto;
}
/* end global features */

/* start top head */
@media (max-width:768px) {
    .top-head{
        display: none;
    }
}
.top-head{
    background-image: url("../images/top-head/Group\ 4284.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-box{
    width: 100%;
    height: 50px;
    top: 4px;
    position: relative;
    display: flex;
}
.search-input{
    width: 100% !important;
    padding: 8px !important;
    border-radius: 0 !important;
    border-right: none !important;
    outline: none !important;
    font-size: 13px !important;
    background-color: white !important;
    margin-left: 50px !important;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    border: none !important;
}
.search-button{
    text-align: center;
    height: 45px;
    width: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    border-left: none;
    background-color: var(--colorText);
    margin-top: 5px;
}

.icon-top{
    position: relative !important;
    border: none;
    background:none;
    width:40px;
    height:40px;
    line-height: 35px;
    font-size: 18px;
    white-space: nowrap;
    margin-top: 8px !important;
}

.properties{
    display: flex !important;
    justify-content: space-around !important;
    text-align: center !important;
    margin-top: 20px;
}

.social-links .badge-cart{
    position: absolute;
    bottom: 60%;
    left: 60%;
    width: 19px;
    height: 19px;
    line-height:3px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--colorText);
    color: black !important;
    border: 1px solid white;
    font-size: 13px;
}

.social-links .badge-heart{
    position: absolute;
    bottom:60%;
    left: 50%;
    width: 19px;
    height: 19px;
    line-height:3px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--colorText);
    color: black !important;
    border: 1px solid white;
    font-size: 13px;
}

.box-profile {
    position: relative;
    margin-top: 14px;
    margin-left: 6px;
    cursor: pointer;
}

.box-profile .image-profile{
    border-radius: 50%;
}

.box-profile:hover .popup {
    opacity: 1;
    display: block;
}

.box-profile .popup {
    min-width: 250px !important;
    text-align: start;
    font-size: 14px;
    background-color: #231f20;
    color: #aaa6a7;
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 50%;
    transition: all 0.25s ease;
    opacity: 0;
    display: none;
    z-index: 4000;
    text-transform: capitalize;
}

.box-profile .image-for-box-profile{
    border-radius: 50%;
    
}
/* end top head */

/* start header canavs */

@media (min-width:768px) {
    .fa-bars{
        display: none;
    }
    .for-mobile{
        display: none !important;
    }
    .social-icon{
        display: none !important;
    }
    .icon-mobile{
        display: none;
    }
}

.fa-bars{
    color: var(--far_bars);
    font-size: 23px;
}

.navbar{
    background-color: #b2841d !important;
}

@media (min-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: white;
        white-space: nowrap;
    }
}

@media (max-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: var(--colorText) !important;
        border-bottom: 1px solid gray;
        padding: 15px;
    }
    .offcanvas{
        background-color: var(--primary);
    }
    .navbar{
        background-color: black !important;
    }
}

.offcanvas {
    width: 80% !important;
}

.nav-item .nav-link{
    color: black !important;
    line-height: 30px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-item .nav-link:hover{
    color: white !important;
    line-height: 30px;
    font-weight: 500;
    font-size: 15px;
    transition: .3s all ease-in-out;
}

/* for top head mobile */
.search-mobile{
    position: relative;
    padding: 0px !important;
}

.search-mobile-input{
    width: 60vw;
    font-size: 13px;
    outline: none;
    border: none;
    padding: 10px;
}

.search-position{
    position: absolute;
    top: 25%;
    right: 3%;
}

/* .space-for-logo-mobile{
margin-left: -11px;
} */

.offcanvas-title .btn-close{
/* float: right !important; */
font-size: 13px;
display: flex;
}

.block-menu-open{
background-color: var(--colorText);
border-radius: 10px;
padding: 10px;
cursor: pointer;
}

.block-menu-open p{
color: var(--primary);
font-weight: 700;
letter-spacing: 1px;
font-size: 17px;
word-break: break-all;
}

.block-menu-open img{
    border-radius: 50%;
}
/* end header canvas */


/* start carousal slider */
.carousel-inner img{
    width: 100% !important;
    height: 625px !important;
}

.carousel-caption{
    /* position: relative !important; */
}

.carousel-caption .overlay{
    position: absolute;
    padding: 30px;
    height: auto;
    width: 450px;
    /* top: 40%; */
    bottom: 500%;
    right: 65%;
    background: rgb(16 15 15 / 65%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-caption .resposnive-box{
    position: relative !important;
}

.resposnive-box h2{
color: var(--colorText);
font-weight: bolder;
font-size: 25px;
}

.resposnive-box p{
    color: #c2bcbc;
}

.resposnive-box .button-float-1{
    float: left !important;
}

.resposnive-box .button-float-2{
    float: right !important;
}

.arrows-bacground{
    background-color: var(--colorText);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: black !important;
}

.arrows-bacground:hover{
    background-color: black;
    color: var(--colorText) !important;
    transition: .4s all ease-in-out;
}

@media (max-width:768px) {
    .carousel-inner img{
        max-width: 100% !important;
        height: 230px !important;
    }
}
/* end carousal slider */

/* start about */
.about-image {
    height: auto !important;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/about-us/about-bg.png");
}

.about span{
    color: var(--colorText);
}

.about p{
    color: #c2bcbc;
    line-height: 25px;
    max-width: 700px;
}
@media (max-width:768px) {
    .about img{
    width: 300px;
    height: 400px;
    }
}
/* end about */

/* start offers */
.offer-card{
    background-color: #c6d2cb;
}

.offer-card:hover{
    background-color: var(--colorText);
    color: #231F20;
    transition: .3s all ease-in-out;
}

.offer-card:hover span{
    color: #231F20 !important;
    transition: .3s all ease-in-out;
}

.offer-card .card-text span{
    color: var(--colorText);
}

.offer-card p{
    font-size: 18px;
    font-weight: 700;
    color: #231F20;
}

.offer-card a{
font-size: 13px;
font-weight: 600;
}

.offer-card img{
    width: 100%;
    height: 300px;
}
/* end offers */

/* start nav tab */
.tab-content {
    padding: 20px;
    border-top: 1px solid #F0F2F7;
}
.tab-content .nav-link {
    margin-right: 2px !important;
    padding: 2px 40px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    background-color: #F0F2F7 !important;
    padding: 5px 30px;
    margin-right: 2px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff !important;
}

.box-shadow{
    position: relative;
}

@media (max-width:768px) {
    .box-shadow{
        position: relative;
    }
    .box-shadow .middle {
        display: none;
    }
    .box-shadow:hover .image {
        opacity: 1 !important;
    }
    .box-shadow .icons-mobile{
        position: absolute;
        top: 0% !important;
        left: 73%;
    }
    .box-shadow  .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: 120px !important;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .button-cart-mobile{
        display: block;
    }
    .tab-content {
        padding: 0px !important;
        border-top: 1px solid #F0F2F7;
    }
    
}

@media (min-width:768px) {
    .button-cart-mobile{
        display: none;
    }
}

.box-shadow  .image{
    opacity: 1;
    display: block;
    width: 100%;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.box-shadow .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 17%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.box-shadow:hover .image {
    opacity: 0.3;
}

.box-shadow:hover .middle {
    opacity: 1;
}


.box-shadow .icons .add-to-cart{
    background-color: #231F20;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.box-shadow .icons .add-to-heart{
    background-color: #231F20;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.box-shadow .icons-mobile .add-to-heart{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white !important;
}
/* end nav tab */



/* start best price */
.best-image {
    height: auto;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/best-price/Group\ 4286.png");
}

.best-price-box{
margin-top: 100px;
}

.best-price-box span{
    color: var(--colorText);
    font-weight: 400;
}

.best-price-box p{
font-weight: 500;
font-size: 18px;
}

.best-price-box h2{
    letter-spacing: 2px;
}

.best-price-box button{
    color: black;
    font-weight: 600;
}

@media (max-width:768px) {
    .best-image {
        height: auto;
    }
    .best-price-box{
        margin-top: 10px;
    }
}
/* end best price */


/* start recently veiwed */
.recently-viewed .swiper-slide img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.button-shop{
    float: right !important;
}

.line{
    border-bottom:2px solid #ced5e1;
    padding-bottom: 15px;
    padding-left: 20px;
}

.content-swiper{
    background-color: #c6d2cb;
    /* height: auto; */
    min-height: 131px;
}

.name-mobile{
color: #898989;
}

.price-swiper{
    color: #E89E09;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

.text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    font-weight: 600 !important;
    color: #231F20 !important;
}

.stars-product{
    color: #E89E09;
}

@media (max-width:768px) {
    .line{
        padding-bottom: 10px;
        padding-left: 10px;
        font-size: 17px;
    }
    .card{
        border: 1px solid rgb(224, 220, 220) !important;
    }
    .button-shop{
        font-size: 12px;
    }
    .recently-viewed  .swiper-slide img {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
}
/* end recently veiwed */

/* start brands */
.Brands .swiper{
    border: 1px solid #CED5E1;
    padding: 5px;
}
.Brands .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.Brands .swiper-slide img {
    display: block;
    width: 110px;
    height: 110px;
    object-fit: contain;
}
/* end brands */

/* start footer */
.footer-image {
    height: 60vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/footer/Group\ 4282@2x.png");
}

.footer-image .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 30px;
}

.footer ul li:first-child{
    color: var(--colorText);
}

.footer ul li:hover{
    color: var(--colorText);
}

.news-letter-submit{
    background-color: #b2841d !important;
    color:black !important;
    font-weight: 600;
    margin-top: 5px !important;
}

@media (max-width:768px) {
    .footer-image .overlay{
        text-align: center;
    }
    .footer-image{
        height: 1000px !important;
    }
}
/* end footer */

/* start bottom footer */
.bottom-footer{
    background-color: var(--colorText);
    position: relative;
}
/* end bottom footer */

/* start bottom mobile */
.bottom-appbar {
    display: block;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.bottom-appbar .tabs {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.bottom-appbar .tabs .tab {
    background-color: black;
    width: 33.4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid rgba(167, 161, 161, 0.69);
    box-shadow: 1x 1x 3px #ccc, -1px -1px 3px #ccc;
    font-size: 24px;
}
.bottom-appbar .tabs .tab--left {
    width: 100%;
    border-top-right-radius: 30px;
    border-top: 1px solid rgba(167, 161, 161, 0.69);
}
.bottom-appbar .tabs .tab--right {
    width: 100%;
    border-top-left-radius: 30px;
    border-top: 1px solid rgba(167, 161, 161, 0.69);
}
.bottom-appbar .tabs .tab--fab {
    width: 180px;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
}
.bottom-appbar .tabs .tab--fab .top {
    width: 100%;
    height: 43%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: transparent;
    box-shadow: 0px 30px 0px 25px black;
    border-bottom: 1px solid rgba(167, 161, 161, 0.69);
    display: flex;
}
.bottom-appbar .tabs .tab span {
    font-size: 12px;
    color: white;
}
.bottom-appbar .tabs .tab i {
    font-size: 17px;
    padding: 3px;
}
.bottom-appbar .tabs .tab.is-active {
    color: #fd9d97;
}
.bottom-appbar .tabs .fab {
    border-radius: 50%;
    background-color: #b2841d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    position: relative;
    justify-content: center;
    transform: translate(0px, -70%);
}

@media (min-width:768px) {
    .bottom-appbar{
        display: none;
    }
}
/* end bottom mobile */

/* start canvas add to cart */
#cart-demo-canvas{
    width: 20% !important;
}

#cart-demo-canvas .display-good{
float: right !important;
}

#cart-demo-canvas .box-canvas img{
    width: 105px;
    height: 100px;
    border-radius: 5px;
}

#cart-demo-canvas .input-group .button-add{
    width: 30px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border: none;
    border-radius: 50%;
}

#cart-demo-canvas .input-group .button-minuse{
    width: 30px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border: none;
    border-radius: 50%;
}

#cart-demo-canvas .input-group .form-control{
    height: 25px !important;
    border-radius: 10px !important;
}

@media (max-width:768px) {
    #cart-demo-canvas{
        width: 70% !important;
        background-color: white !important;
    }
    #cart-demo-canvas  .box-canvas img{
        width: 100px;
        height: 85px;
        border-radius: 5px;
    }
}
/* end canvas add to cart */


/* start canvas add to wishlest */
#wishlest-demo-canvas{
    width: 20% !important;
}

#wishlest-demo-canvas .display-good{
float: right !important;
}

#wishlest-demo-canvas .box-canvas img{
    width: 105px;
    height: 100px;
    border-radius: 5px;
}

@media (max-width:768px) {
    #wishlest-demo-canvas{
        width: 70% !important;
        background-color: white !important;
    }
    #wishlest-demo-canvas .box-canvas img{
        width: 100px;
        height: 85px;
        border-radius: 5px;
    }
}
/* end canvas add to wishlest */




