@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&family=Saira:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --primary:#141424;
    --colorText:#ECC96D;
    /* --colorText:#b2841d ; */
    --secondary:#231f20;
    --far_bars:white;
    --icon:#f4bd24;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


/* global features to any website */
ul li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

a{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    text-decoration: none;  
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: .6s all ease-in-out;
}

.card img:hover{
    transition: .3s all ease-in-out;
}


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(var(--secondary),var(--colorText));
    border-radius: 8px;
}

h1{
    font-weight: 800;
    font-size: 30px;
}

h2{
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}

h5{
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
}

h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #707070;
}

.btn{
    border: none;
    background-color: var(--colorText);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    white-space: nowrap;
    box-shadow: none !important;
}

.btn:hover{
    border: none;
    background-color: black !important;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .5s all ease-out;
}


i{
    color: var(--icon);
}

.social-icon i{
    color: var(--colorText) !important;
    padding: 7px;
    font-size: 14px;
}

.social-icon i:hover{
    border-radius: 50%;
    color:white !important;
    transition: .3s all ease;
}

input[type=text], input[type=email],input[type=number],input[type=password],input[type=date], select, textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #CED5E1; 
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden; */
}

/* input:focus{
border-color: var(--colorText) !important;
box-shadow: none !important;
} */

input[type=submit] {
    background-color: var(--colorText);
    color: white;
    padding: 12px 20px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: black;
    transition: .3s all ease-in-out;
}  

.swiper-button-next{
    background-color: var(--colorText) !important;
    font-size: 10px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.swiper-button-next:hover{
    background-color:black !important;
}

.swiper-button-next:after{
    font-size: 15px !important;
    color: white !important;
}

.swiper-button-prev{
    background-color: var(--colorText) !important;
    font-size: 10px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.swiper-button-prev:hover{
    background-color: black !important;
}

.swiper-button-prev:after{
    font-size: 15px !important;
    color: white !important;
}

.wrapper{
    width: 94%;
    margin: auto;
}

@media (max-width:768px) {
    .wrapper{
        width: 98%;
        margin: auto;
    }
}
/* end global features */

/* preloader*/
.preloaders {
    position: fixed;
    z-index: 99999;
    background-color: black;
    width: 100%;
    height: 100%;
}
.preloaders .loaders {
    border: 0px solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.loaders::before {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.loaders:before,
.loaders:after {
    content: "";
    border: 10px solid var(--colorText);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
    opacity: 0;
}

@-webkit-keyframes loader {
    0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    }
}

@keyframes loader {
    0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    }
}
/* end preloader */

/* start top button */
.scroll-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background:var(--colorText);  
    border: none;  
    transition-duration: 500ms;
    z-index: 2;
}

.scroll-to-top:hover{
    background: black;
    transition: .3s all ease-in-out;
}

@media (max-width:768px) {
    .scroll-to-top{
        right: 20px;
        bottom: 60px;
        width: 40px;
        height: 40px;
    }
}
/* end top button */

/* start top head */
@media (max-width:768px) {
    .top-head{
        display: none;
    }
}
.top-head{
    background-image: url("../images/top-head/Group\ 4284.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-box{
    width: 100%;
    height: 50px;
    top: 4px;
    position: relative;
    display: flex;
}
.search-input{
    width: 100% !important;
    padding: 8px !important;
    /* border-radius:10px 0 0 10px !important; */
    border-radius: 0 !important;
    border-right: none !important;
    outline: none !important;
    font-size: 13px !important;
    background-color: white !important;
    margin-right: 50px !important;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    border: none !important;
}
.search-button{
    text-align: center;
    height: 45px;
    width: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    /* border-radius: 0 10px 10px 0 ; */
    border-right: none;
    background-color: var(--colorText);
    margin-top: 5px;
}

.icon-top{
    position: relative !important;
    border: none;
    background:none;
    width:40px;
    height:40px;
    line-height: 35px;
    font-size: 18px;
    white-space: nowrap;
    margin-top: 8px !important;
}

.properties{
    display: flex !important;
    justify-content: space-between !important;
    text-align: center !important;
    margin-top: 20px;
}

.social-links .badge-cart{
    position: absolute;
    bottom: 60%;
    right: 60%;
    width: 19px;
    height: 19px;
    line-height:3px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--colorText);
    color: black !important;
    /* border: 1px solid white; */
    font-size: 13px;
}

.social-links .badge-heart{
    position: absolute;
    bottom:60%;
    right: 50%;
    width: 19px;
    height: 19px;
    line-height:3px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--colorText);
    color: black !important;
    /* border: 1px solid white; */
    font-size: 13px;
}

.box-profile {
    position: relative;
    margin-top: 14px;
    margin-right: 6px;
    cursor: pointer;
}

.box-profile .image-profile{
    border-radius: 50%;
}

.box-profile:hover .popup {
    opacity: 1;
    display: block;
}

.box-profile .popup {
    min-width: 250px !important;
    text-align: start;
    font-size: 14px;
    background-color: #231f20;
    color: #aaa6a7;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all 0.25s ease;
    opacity: 0;
    display: none;
    z-index: 4000;
    text-transform: capitalize;
}

.box-profile .image-for-box-profile{
    border-radius: 50%;
    
}
/* end top head */


/* start header canavs */

@media (min-width:768px) {
    .fa-bars{
        display: none;
    }
    .for-mobile{
        display: none !important;
    }
    .social-icon{
        display: none !important;
    }
    .icon-mobile{
        display: none;
    }
}

.fa-bars{
    color: var(--far_bars);
    font-size: 23px;
}


.navbar{
    background-color: var(--colorText) !important;
}

@media (min-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: white;
        white-space: nowrap;
    }
    .text-pc{
        display: block;
    }
}

@media (max-width:768px) {
    .navbar-expand-sm .navbar-nav .nav-link{
        color: var(--colorText) !important;
        border-bottom: 1px solid gray;
        padding: 11px;
    }
    .offcanvas{
        background-color: var(--primary);
    }
    .navbar{
        background-color: black !important;
    }
    .text-pc{
        display: none;
    }
}

.offcanvas {
    width: 80% !important;
}

.nav-item .nav-link{
    color: black !important;
    line-height: 30px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-item .nav-link:hover{
    color: white !important;
    line-height: 30px;
    font-weight: 500;
    font-size: 15px;
    transition: .3s all ease-in-out;
}

.item {
    border-bottom: 1px solid gray;
}
.item .item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    padding: 1px;
}

.item .item-header .title {
    font-size: 15px;
    margin-right: 10px;
    margin-top: 9px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--colorText) !important;
}

.item .item-header .icon {
    vertical-align: middle;
}

.item .item-header .active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.item .content {
    display: none;
    background-color: var(--colorText);
}

.content ul li a{
    font-weight: 800;
    color: black;
    margin: 10px;
}

/* for top head mobile */
.search-mobile{
    position: relative;
    padding: 0px !important;
}

.search-mobile-input{
    width: 60vw;
    font-size: 13px;
    outline: none;
    border: none;
    padding: 10px;
}

.search-position{
    position: absolute;
    top: 25%;
    left: 3%;
}

/* .space-for-logo-mobile{
margin-right: -11px;
} */


.offcanvas-title .btn-close{
/* float: left !important; */
font-size: 13px;
display: flex;
}

.block-menu-open{
background-color: var(--colorText);
border-radius: 10px;
/* padding: 10px; */
cursor: pointer;
}

.block-menu-open p{
color: var(--primary);
font-weight: 700;
letter-spacing: 1px;
font-size: 17px;
word-break: break-all;
}

.block-menu-open img{
    border-radius: 50%;
}
/* end header canvas */


/* start carousal slider */
.carousel-inner img{
    width: 100% !important;
    height: 625px !important;
}

.carousel-caption{
    /* position: relative !important; */
}

.carousel-caption .overlay{
    position: absolute;
    padding: 30px;
    height: auto;
    width: 450px;
    /* top: 40%; */
    bottom: 400%;
    left: 65%;
    background: rgb(16 15 15 / 65%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-caption .resposnive-box{
    position: relative !important;
}

.resposnive-box h2{
color: var(--colorText);
font-weight: bolder;
font-size: 25px;
}

.resposnive-box p{
    color: #c2bcbc;
}

.resposnive-box .button-float-1{
    float: right !important;
}

.resposnive-box .button-float-2{
    float: left !important;
}

.arrows-bacground{
    background-color: var(--colorText);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: black !important;
}

.arrows-bacground:hover{
    background-color: black;
    color: var(--colorText) !important;
    transition: .4s all ease-in-out;
}

@media (max-width:768px) {
    .carousel-inner img{
        max-width: 100% !important;
        height: 170px !important;
    }
}
/* end carousal slider */


/* start about */
.about-image {
    height: auto !important;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/about-us/about-bg.png");
}

.about span{
    color: var(--colorText);
}

.about p{
    color: #c2bcbc;
    line-height: 25px;
    max-width: 700px;
}
@media (max-width:768px) {
    .about img{
    width: 300px;
    height: 400px;
    }
}
/* end about */

/* start offers */
.offer-card{
    background-color: #c6d2cb;
}

.offer-card:hover{
    background-color: var(--colorText);
    color: #231F20;
    transition: .3s all ease-in-out;
}

.offer-card:hover span{
    color: #231F20 !important;
    transition: .3s all ease-in-out;
}

.offer-card .card-text span{
    color: var(--colorText);
}

.offer-card p{
    font-size: 18px;
    font-weight: 700;
    color: #231F20;
}

.offer-card a{
font-size: 13px;
font-weight: 600;
}

.offer-card img{
    width: 100%;
    height: 415px;
}

@media (max-width:768px) {
    .offer-card img{
        width: 100%;
        height: 315px;
    }
}
/* end offers */


/* start nav tab */
.tab-content {
    padding: 20px;
    border-top: 1px solid #F0F2F7;
}
.tab-content .nav-link {
    margin-right: 2px !important;
    padding: 2px 40px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    background-color: #F0F2F7 !important;
    padding: 5px 30px;
    margin-right: 2px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff !important;
}

.box-shadow{
    position: relative;
}

.box-shadow  .image{
    opacity: 1;
    display: block;
    width: 100%;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: contain;
}

.box-shadow .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 17%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.box-shadow:hover .image {
    opacity: 0.3;
    transform: scaleX(-1);
}

.box-shadow:hover .middle {
    opacity: 1;
}


.box-shadow .icons .add-to-cart{
    background-color: #231F20;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.box-shadow .icons .add-to-heart{
    background-color: #231F20;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.box-shadow .icons-mobile .add-to-heart{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    color: white !important;
}

@media (max-width:768px) {
    .box-shadow{
        position: relative;
    }
    .box-shadow .middle {
        display: none;
    }
    .box-shadow:hover .image {
        opacity: 1 !important;
    }
    .box-shadow .icons-mobile{
        position: absolute;
        top: 0% !important;
        right: 87%;
    }
    .box-shadow  .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: 250px !important;
        transition: .5s ease;
        backface-visibility: hidden;
        object-fit: contain;
    }
    .button-cart-mobile{
        display: block;
    }
    .tab-content {
        padding: 0px !important;
        border-top: 1px solid #F0F2F7;
    }
}

@media (min-width:768px) {
    .button-cart-mobile{
        display: none;
    }
}
/* end nav tab */


/* start best price */
.best-image {
    height: auto;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/best-price/Group\ 4286.png");
}

.best-price-box{
margin-top: 100px;
}

.best-price-box span{
    color: var(--colorText);
    font-weight: 600;
}

.best-price-box p{
font-weight: 500;
font-size: 18px;
}

.best-price-box h2{
    letter-spacing: 2px;
}

.best-price-box button{
    color: white;
    font-weight: 600;
    box-shadow: none !important;
}

@media (max-width:768px) {
    .best-image {
        height: auto;
    }
    .best-price-box{
        margin-top: 10px;
        text-align: center;
    }
}
/* end best price */

/* start recently veiwed */
.recently-viewed .swiper{
    width: 100%;
    height: 100%;
}

.recently-viewed .swiper-slide {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.recently-viewed .swiper-slide img {
    width: 100%;
    height: 270px;
    object-fit: contain;
}

.button-shop{
    float: left !important;
}

.line{
    border-bottom:2px solid #ced5e1;
    padding-bottom: 15px;
    padding-right: 20px;
    white-space: nowrap;
}

.content-swiper{
    background-color: #ebebeb;
    min-height: 131px;
}

.name-mobile{
color: #898989;
}

.price-swiper{
    color: #282725;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
}

.text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    font-weight: 600 !important;
    color: #231F20 !important;
}

.stars-product{
    color: #E89E09;
}

@media (max-width:768px) {
    .line{
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 17px;
    }
    .card{
        border: 1px solid rgb(224, 220, 220) !important;
    }
    .button-shop{
        font-size: 12px;
    }
    .recently-viewed .swiper-slide img {
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
}
/* end recently veiwed */

/* start brands */
.Brands .swiper{
    border: 1px solid #CED5E1;
    padding: 5px;
}
.Brands .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.Brands .swiper-slide img {
    display: block;
    width: 110px !important;
    height: 110px !important;
    object-fit: contain !important;
}
/* end brands */

/* start footer */
.footer-image {
    height: 55vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/footer/Group\ 4282@2x.png");
}

.footer-image .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 30px;
}

.footer ul li:first-child{
    color: var(--colorText);
}

.footer ul li:hover{
    color: var(--colorText);
}

.news-letter-submit{
    background-color: #b2841d !important;
    color:white !important;
    font-weight: 500;
    margin-top: 5px !important;
}

@media (max-width:768px) {
    .footer-image .overlay{
        text-align: center;
    }
    .footer-image{
        height: 1000px !important;
    }
    .mobile-block{
        display: block !important;
        margin: 0px !important;
    }
    .news-letter-submit{
        margin: 0px !important;
    }
}
/* end footer */

/* start bottom footer */
.bottom-footer{
    background-color: var(--colorText);
    position: relative;
}

.bottom-footer img{
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 5px;
}

@media (max-width:768px) {
    .bottom-footer{
        min-height: 235px;
    } 
}
/* end bottom footer */


/* start bottom footer */
.bottom-appbar {
    display: block;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.bottom-appbar .tabs {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.bottom-appbar .tabs .tab {
    background-color: black;
    width: 33.4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid rgba(167, 161, 161, 0.69);
    box-shadow: 1x 1x 3px #ccc, -1px -1px 3px #ccc;
    font-size: 24px;
}
.bottom-appbar .tabs .tab--left {
    width: 100%;
    border-top-left-radius: 30px;
    border-top: 1px solid rgba(167, 161, 161, 0.69);
}
.bottom-appbar .tabs .tab--right {
    width: 100%;
    border-top-right-radius: 30px;
    border-top: 1px solid rgba(167, 161, 161, 0.69);
}
.bottom-appbar .tabs .tab--fab {
    width: 180px;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
}
.bottom-appbar .tabs .tab--fab .top {
    width: 100%;
    height: 43%;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: transparent;
    box-shadow: 0px 30px 0px 25px black;
    border-bottom: 1px solid rgba(167, 161, 161, 0.69);
    display: flex;
}
.bottom-appbar .tabs .tab span {
    font-size: 12px;
    color: white;
}
.bottom-appbar .tabs .tab i {
    font-size: 17px;
    padding: 3px;
}
.bottom-appbar .tabs .tab.is-active {
    color: #fd9d97;
}
.bottom-appbar .tabs .fab {
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    position: relative;
    justify-content: center;
    transform: translate(0px, -70%);
}

.bottom-appbar .badge-cart{
    position: absolute;
    bottom: 70%;
    right: 31%;
    width: 19px;
    height: 19px;
    line-height:7px;
    font-weight: 700;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: black !important;
    font-size: 13px;
}

.bottom-appbar .badge-heart{
    position: absolute;
    bottom:70%;
    right: 68%;
    width: 19px;
    height: 19px;
    line-height:7px;
    font-weight: 700;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: black !important;
    font-size: 13px;
}

@media (min-width:768px) {
    .bottom-appbar{
        display: none;
    }
}
/* end bottom footer */


/* start canvas add to cart */
#cart-demo-canvas{
    width: 20% !important;
}

#cart-demo-canvas .display-good{
float: left !important;
}

#cart-demo-canvas .box-canvas img{
    width: 105px;
    height: 100px;
    border-radius: 5px;
}

#cart-demo-canvas .input-group .button-add{
    width: 30px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border: none;
    border-radius: 50%;
}

#cart-demo-canvas .input-group .button-minuse{
    width: 30px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border: none;
    border-radius: 50%;
}

#cart-demo-canvas .input-group .form-control{
    height: 25px !important;
    border-radius: 10px !important;
}

@media (max-width:768px) {
    #cart-demo-canvas{
        width: 70% !important;
        background-color: white !important;
    }
    #cart-demo-canvas  .box-canvas img{
        width: 100px;
        height: 85px;
        border-radius: 5px;
    }
}
/* end canvas add to cart */

/* start canvas add to wishlest */
#wishlest-demo-canvas{
    width: 20% !important;
}

#wishlest-demo-canvas .display-good{
float: left !important;
}

#wishlest-demo-canvas .box-canvas img{
    width: 105px;
    height: 100px;
    border-radius: 5px;
}

@media (max-width:768px) {
    #wishlest-demo-canvas{
        width: 70% !important;
        background-color: white !important;
    }
    #wishlest-demo-canvas .box-canvas img{
        width: 100px;
        height: 85px;
        border-radius: 5px;
    }
}
/* end canvas add to wishlest */

/* start modal popup for search in head mobile */
#search-box {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
}
#search-box .container {
    display: table;
    width: 100%;
    height: 100%;
}
#search-box .container .close {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 1;
}
#search-box .container .close:hover {
    opacity: 1;
}
#search-box .container .close:before, #search-box .container .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}
#search-box .container .close:before {
    transform: rotate(45deg);
}
#search-box .container .close:after {
    transform: rotate(-45deg);
}
#search-box .container .search-main {
    display: table-cell;
    vertical-align: middle;
}
#search-box .container .search-main .search-inner {
    width: 80%;
    margin: 0 auto;
}
#search-box .container .search-main form {
    position: relative;
}
#search-box .container .search-main input {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 12px 74px 12px 0;
    font-size: 18px;
    height: 50px;
    border-bottom: 2px solid white;
    display: block;
    color: white;
    margin-bottom: 0;
    width: 100%;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 3s;
}
#search-box .container .search-main input:focus {
    outline: none;
}
#search-box .container .search-main button {
    border: 0;
    left: auto;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0.3em;
    bottom: 0.3em;
    background: transparent;
    font-size: 43px;
}
#search-box .container .search-main .search-info {
    display: block;
    color: white;
    text-align: right;
    float: right;
    margin-top: 4px;
}
#search-box.-open {
    background: rgba(0, 0, 0, .8);
    visibility: visible;
    animation: fadein 0.8s;
}
#search-box.-open .container .search-main input {
    transform: scale3d(1, 1, 1);
    transition-duration: 1s;
}
@keyframes fadein {
    from {
        opacity: 0;
}
    to {
        opacity: 1;
}
}

/* end modal popup for search in head mobile */


/* start page product details */
.vertical-swiper .swiper {
    width: 100%;
    height: 100%;
    max-height: 400px !important;
}

.vertical-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.vertical-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.vertical-swiper .item{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

.vertical-swiper .item:hover{
    border: 1px solid var(--colorText);
}

.big-image img{
    width: 350px;
    height: 400px;
}

.share-product{
    color: rgb(51, 51, 209);
    letter-spacing: 1px;
    margin-top: 11px;
    font-weight: 500;
}

.price-product{
    color: #282725;
    font-size: 23px;
    font-weight: 600;
}


.copoun{
    background-color: black;
    width: 70px;
    color: var(--colorText);
    border: 1px dashed var(--colorText);
}

.color-container .colors {
    padding: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.color-container .colors .color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid transparent;
    cursor: pointer;
}
.color-container .colors .active  {
    border-color: #fff;
    -webkit-box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    /* text-align: center; */
    display: flex;
}
.color-container .colors .color[color=yellow] {
    background-color: var(--colorText);
}
.color-container .colors .color[color=black] {
    background-color:black;
}
.color-container .colors .color[color=silver] {
    background-color:gray;
}

.size-product .btn-secondary{
    background-color: white !important;
    color: black !important;
    border: 1px solid #51585e;
    padding: 10px;
    border-radius: 10px;
}

.box-bought{
    margin-top: 10px;
    padding: 10px;
    background-color: #F0F2F7;
}

.see-option{
    text-transform: capitalize;
}

.see-option .color-gear{
    color: var(--colorText);
}

.about-item-description .layout{
    color: var(--colorText);
}

@media (max-width:768px) {
    .box-product-details{
        padding: 0 !important;
    }
    .vertical-swiper .swiper-slide img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    .vertical-swiper .item{
        border:none;
    }
    .vertical-swiper .item:hover{
        border: none;
    }
    .color-container .colors .color {
        margin: 10px !important;
    }
    .price-product{
        font-size: 16px;
    }
    .display-for-pc{
        display: none;
    }
}

@media (min-width:768px) {
    .display-none-pc{
        display: none;
    }
}
/* end page product details */


/* start page categories */
.text-filter{
    margin-top: 23px;
    font-size: 20px;
}

.button-filter{
    border: 1px solid black;
    box-shadow: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

/* .item-collapse {
    border-bottom: 1px solid gray;
} */
.item-collapse .item-header-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 1px;
}

.item-collapse .item-header-collapse .title {
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: 10px;
}

.item-collapse .item-header-collapse .icon {
    vertical-align: middle;
    color: black;
}

.item-collapse .item-header-collapse .active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.item-collapse .content-collapse {
    display: none;
}

/* grid list */
.fa-th-large:hover{
    color: var(--colorText) !important;
}

.fa-list:hover{
    color: var(--colorText) !important;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list.list-view-filter {
    flex-flow: column wrap !important;
}

.list.list-view-filter li {
    padding: 20px;
    display: flex; 
    /* this action make list be resposive in pc */
}

.list.grid-view-filter {
    flex-flow: row wrap;
}

.list.grid-view-filter li {
    width: calc(55% - 210px);
    padding: 10px;
    /* margin-right: 10px; */
    /* margin: 5px; */
}

.list.list-view-filter .image{
    width: 300px;
    height: 350px;
}

.box-for-categories .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 340px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: contain;
}

.content-category{
    background-color: #ebebeb;
}

.box-for-categories .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
    
.box-for-categories:hover .image {
    opacity: 0.3;
    transform: scaleX(-1);
}

.box-for-categories:hover .middle {
    opacity: 1;
}

.box-for-categories .middle {
    position: absolute;
    top: 17%;
    left: 10%;
}

.box-for-categories .icons .add-to-heart{
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: white !important;
    cursor: pointer;
}

.box-for-categories .icons .add-to-cart{
    background-color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: white !important;
    cursor: pointer;
}

.box-for-categories .icons-mobile .add-to-heart{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    color: white !important; 
}

.list.list-view-filter .box-for-categories .middle{
    position: absolute;
    right: 86%;
    top: 49%;
}

@media (max-width:768px) {
    /* this for mobile version important */
.list.grid-view-filter {
    flex-flow: column wrap !important;
}

.list.grid-view-filter li {
    padding: 20px;
    display: block; 
    width: 100% ;
}
/* end for mobile version important */
.box-for-categories .middle {
    display: none;
}
.box-for-categories:hover .image {
    opacity: 1 !important;
}
.box-for-categories .icons-mobile{
    position: absolute;
    top: 0% !important;
    right: 87%;
}
.box-for-categories  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 350px !important;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: contain;
}
}
/* end page categories */


/* start shipping */
.shipping{
    padding: 30px;
    margin: auto;
}
.progress-timeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    counter-reset: step;
}

.progress-timeline li {
    width: 33.3%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}

.progress-timeline li::after {
    content: counter(step);
    counter-increment: step;
    background-color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid var(--colorText);
    font-size: 14pt;
    color: #000;
    font-weight: bold;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.progress-timeline li::before { 
    content: "";
    position: absolute;
    bottom: 45px;
    width: 100% !important;
    border-right: 3px dotted var(--colorText);
    left: 50%;
    height: 4px;
    z-index: -1;
    background-color: #CED5E1;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.progress-timeline li.active {
    color: var(--colorText);
}

.progress-timeline li.active:before {
    background-color: var(--colorText);
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.progress-timeline li.active::after {
    border: 3px dotted var(--colorText);
    background-color: var(--colorText);
    color: #fff;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 30px;
    height: 25px;
    padding: 4px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

  /* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: var(--colorText);
    border-radius: 50%;
}

.button-new-address{
    text-align: left;
}

.box-shipping-product img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}